@{
    bool IsIndexPage = Request.Url.AbsolutePath.Equals("/", StringComparison.OrdinalIgnoreCase);
}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300&display=swap">
    <link rel="shortcut icon" href="https://raw.githubusercontent.com/anhvu13/fashion.github.io/main/icon.png" type="image/x-icon">
    <title>@ViewBag.Title</title>

    <!-- css -->

    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />*@
    <link rel="stylesheet" href="~/Content/Css/Bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/Css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    @RenderSection("Styles", required: false)
    <!-- js -->



    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
    <!--Thư viện hỗ trợ giọng nói-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/annyang/2.6.1/annyang.min.js"></script>
    @RenderSection("Scripts", required: false)
    <script src="~/Scripts/Script.js"></script>



</head>

<body>
    <!-- Headr section ends -->
    @RenderPage("_Header.cshtml");
    <!-- Header section ends -->

    @if (IsIndexPage)
    {
        <!-- Home section ends -->
        @RenderPage("_Home.cshtml")
        <!-- Home section ends -->
        <!-- Banner section ends -->
        @RenderPage("_Banner.cshtml")
        <!-- Banner section ends -->
    }

    <!-- Product section ends -->
    @RenderBody()
    <!-- Product section ends -->

    @if (IsIndexPage)
    {
        <!-- Deal section ends -->
        @RenderPage("_Deal.cshtml")
        <!-- Deal section ends -->
        <!-- Contact section ends -->
        @RenderPage("_Contact.cshtml")
        <!-- Contact section ends -->
    }
    @*@Html.Action("ChatBotPartial","ChatBot")*@
    <!-- Footer section ends -->
    @RenderPage("_Footer.cshtml")
    <!-- Footer section ends -->
    <script src="~/Scripts/main.js"></script>
    <script src="~/Scripts/shoppingCart.js"></script>

</body>

</html>